
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

            @await Html.PartialAsync("/Areas/Writer/Views/Default/HeadPartial.cshtml")


<body>
  <div class="container-scroller">
    <!-- partial:~/skydash/partials/_navbar.html -->
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:~/skydash/partials/_settings-panel.html -->
      
      
            @await Html.PartialAsync("/Areas/Writer/Views/Default/_NavbarPartial.cshtml")
      <!-- partial -->
      <!-- partial:~/skydash/partials/_sidebar.html -->
            @await Html.PartialAsync("/Areas/Writer/Views/Default/_SidebarPartial.cshtml")
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">            
           @RenderBody()
          </div>
        </div>
        
            @await Html.PartialAsync("/Areas/Writer/Views/Default/_FooterPartial.cshtml")
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
            @await Html.PartialAsync("/Areas/Writer/Views/Default/_ScriptPartial.cshtml")

  
</body>

</html>
